/*For the body of the page */
body{                                                                                            
    background-color: #E9DAD8; 
    margin: 0px;
    padding: 0px;
    font-family:'Courier New', Courier, monospace;
    text-align:left;
    font-size:larger;
} 

/* For the header at the top */
header{
    background-color: #BE8F89; 
    color:#ffffff;
    /* margin: 10px; */
    padding:50px;
    text-align:center;
    height: 200px; 
}

.pagesHeader{
  background-image: url('images/Blog.jpg');
  background-size: 100%;
}


/* For the profile photo at the top */
img.circle{
    margin-top: 30px;
    width: 380px;
    height: 380px;
    border-radius: 200px;     
}

h2{
  padding: -43px 40px;
  text-align: center;
  margin: 30px;
}

h1{
   padding: 150px 40px;
   text-align: center;
   margin: 40px 
}



.container1{
    display: flex;
    flex-direction:row;   
    justify-content:space-around;  
    margin-top: -57px  
}

.headText{
    font: size 20px;
    font-weight: bold;
}

.container2{
        display: flex;
        flex-direction:row;   
        justify-content:space-around;      
}

.button1 {

    position:relative;
    top: 40px;
    left: 420px;    
    font-weight: bold;    
    color: #AF766E;
    font-size: 25px;    
    line-height: 0;
    cursor: pointer;
    padding: auto;    
}

.buttons2 {
  top: 40px;
  left: 420px;    
  font-weight: bold;    
  color: #AF766E;
  font-size: 25px;    
  cursor: pointer;
  padding: auto;    
}

/* Text in image */
.items{
    position: relative;
    width: 400px;   
}

  .image { 
    transition: .5s ease;
    backface-visibility: hidden;
    width: 400px;
    height: 200px;
    border-radius: 30px;
    border-style:hidden;
    opacity: 0.9; 
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%)
  }

  .text {
    /* display: flex; */
    text-decoration: none;
    background-color: #844F48;
    color: white;
    font-size: 20px;
    padding: 11px 29px;
    cursor: pointer;
    margin: -32px -62px;   
  }
  
  .items:hover .image {
    opacity: 0.3;
  }
  
  .items:hover .middle {
    opacity: 1;
  }
  
  ul.a {
    list-style-type: circle;
  }



  .list1{
    font-size: 30px ; 
    font-weight: normal;
    margin: -68px 26px;
    padding:23px;
    height: 200px; 
  }

  .block{
    background-color: #c79f9a; 
    margin: 10px;
    padding:50px;
    text-align:center;
    height: 200px; 
}

/* p.blogs{
  margin: 20px;
} */



.squareBackground {
  height: 271px;
  border-radius: 30px;
  width: 942px;
  padding: 50px;
  margin-bottom: 31px;
  margin-top: 50px;
  margin-left: 660px;
  margin-right: -71px;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 25%);
}




.squareBackground2 {
  background-color: #DBC1BD;
  border-radius: 30px;
  height: 355px;
  margin-bottom: 163px;
  margin-top: 54px;
  margin-left: 193px;
  margin-right: 202px;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 25%);
}
 
/* Comments Area */

.comment-respond, .entry-comments, .ping-list {
  margin: 0 0 37px;
}
.comment-respond, .entry-comments {
  padding: 37px 0;
}

h1.reply{
  padding: 150px 40px;
  text-align: left;
  margin: 40px 
}
 h3{
  font-weight: normal;
  padding: 84px;
  margin: -250px -4px;
 }

p {
  margin: 5px 0 15px;
  padding: 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


 p.areacomment{  
  margin: 67px -1px;
  font-size: 35px; 
  font-weight: bold;
}
 
textarea {
  background-color: #E9DAD8;
  margin: -38px -4px;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 0 #fff;
  -webkit-box-shadow: 0 0 0 #fff;
  box-shadow: 0 0 0 #fff;
  color: #565656;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 10px;
  width: 932px;
  height: 274px;  
}
/* 
.personalInfo{
    font-weight: bold;
    margin: 122px -7px;
    font-size: 35px;
} */



input[type=text] {
  /* input elements with type="text" attribute */
  font-weight: bold;
  margin: -9px 19px;
  font-size: 35px;
  width: 390px;
  background-color: #e9dad8;
  height: 45px;
}

/* label{
  /* input elements with type="text" attribute */
  font-weight: bold;
  margin: -9px 19px;
  font-size: 35px;
  width: 390px;
  background-color: #e9dad8;
  height: 45px;
} */

/* 
li.a{
  display: block;
} */

















/* Not using now */

  /* .blocks{
    position: relative;
    width: 50%;     
    font-weight: bold;
    margin: 90px; 
    padding: 140px;
    width: 120px;
    font-size: 25px;
    color: #9E5F57;      

} */


/* img.square{
    width: 400px;
    height: 200px;
    border-radius: 30px;
    border-style:hidden;
    opacity: 0.8;  
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}



hr {
    border:none;
    border-top:5px dashed rgb(171, 169, 169);
    color:#fff;
    background-color:#fff;
    height:5px;
    width: 50%;
} */