/* Common to all pages 
--------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;                                                          
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.771);
}

body{
background-color: #eee;                                                          
}

.flex-RightSideContainer{

}

/* Horizontal Bar begins */
nav{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1364px;
    height: 137px;
    background-color: #fff;     
    margin: 0 155px; 
}

.flex-item-horizontalMenu{
    padding-right: 10%;
}

ul li {                                                                            /*style the individual list inside the ul */                                                                                 
    display: inline-block;                                                         /*Put them one next to each other*/
    line-height: 150px;                                                            /*Not space between them*/
}

ul li a {                                                               
    font-size: 25px;
    padding: 0 55px;    
}
                                                 
.notificationIcon{
    width: 25px;
    height: 25px;
    float: right;
    padding: 61px;
}

header{
    font-size: 30px;
    padding: 60px 75px;
   
}

header p{
    font-size: 15px;
 }

/* Horizontal Bar ends */

/* Vertical Bar Begins*/
.flex-verticalContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #8b898966;
    width: 155px;
    height: 200%;
    /* margin: -256px 0; */
}

.flex-item-verticalBarPicture{
    padding: 30px 30px;
}

.circlePicture {    
    width: 75px;
    height: 75px;
    border-radius: 75px;
}

h1 {
    font-size: 10px;
    padding-top: 10%;
}
/* Vertical Bar Ends*/

/* List_students.php 
--------------------------------------------------------------------------- */
/* Search Bar Begins */
.flex-searchBarContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 155px;
}

h2{
    padding: 29px 79px;
}

.flex-itemSearchBar{
    margin: -24px 56px;
}

input[type=text] { 
    font-size: 20px;
    width: 554px;
    padding: 21px;
    height: 0px;
    border-radius: 262px;
    border: 1px solid #CCC;
}

.search-bar{ 
    display: flex;
    align-items: center;   
    padding: 10px 20px;
}

.searchButton{
    width: 56px;
    border: 0;
    border-radius: 50%; 
    cursor: pointer;
}

/* Search Bar Ends */

/* Table Begins */

.flex-tableContainer{
    margin: 53px 237px;
}

li{
    list-style: none;    
}

/* #tableContainer{   
    /* margin: 48px 210px; */


 #tableContainer td, #tableContainer th {
    text-align: left;   
    /* padding: 15px 22px; */
}   
/* Table Begins */
 
/* student_profile.php 
--------------------------------------------------------------------------- */
.studentProfilePicturePosition{
    padding: 22px 36px;
}

.studentProfilePicture{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}