/* default for all items in the page*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;                                                          /*Take out the underline of all the links*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.771);
}

/*Style the body of the website*/
body{
background-color: #eee;                                                          
}

/*Style the menu in the header*/
nav{                                                                               
    width: 87.8%;
    height: 137px;
    background-color: #fff; 
    margin: 0 185px;       
}

.vertical{
    height: 150%;
    border-left: 185px solid #8b898966;
    margin: -137px 0;
}



.notificationIcon{
    width: 25px;
    height: 25px;
    float: right;
    margin: 59px -86px;
}

header{
    font-size: 30px;
    padding: 58px 63px;
}

.sub-header{
    font-size: 15px;
    padding-top: 8px;
}


img {    
   
}

.circlePicture{
    margin: 43px -137px;
    width: 75px;
    height: 75px;
    border-radius: 75px;
}

.profileHeading{
    float: left;
    font-size: 10px;
    margin: 133px -137px;

}

ul {
    margin: 0 145px;
} 

/*style the individual list inside the ul */
ul li {
    list-style: none;                                                              /*Take out the dots*/
    display: inline-block;                                                         /*Put them one next to each other*/
    float: right; 
    line-height: 150px;                                                           /*Not space between them*/
}

ul li a {
    display: block;                                                                /*To be able to click it around and not onli in the letters*/
    font-size: 25px;
    padding: 0 60px;    
}

